* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    font-family: 'Roboto',sans-serif;
}

.sidebar {
    text-align: center;
    background-color: #a8daeb;   
    height: 100vh; 
}
.sidebar img {
    width: 150px;
    margin: 30px 35px 20px 35px;
}
.sidebar ul li {
    list-style: none;
    color: black;
    border: 1px ;
    border-radius: 5px;
    margin: 15px 20px;
    padding: 10px ;
    cursor: pointer;
}
.sidebar ul li img {
    width: 20px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    display: block;
}
.sidebar ul li p {
    font-size: 16px;
}
.sidebar ul li:hover {
    background-color: #58a6b2;
}
.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}
.sidebar form button {
    border: none;
    border-radius: 5px;
    padding: 8px 17px;
    background-color: #75b6c2;
    cursor: pointer;
    margin-top: 100px;
    font-size: 15px;
}
.content {
    flex: 1;
}
.function-content {
    display: flex;
    
}
.function-content select , .function-content form input {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    margin: 35px 30px 15px 150px;
}
.display-content {
    width: 1200px;
    height: 600px;
    margin: 0px auto;
    padding-top: 20px;
}

.display-content table {
    width: 1200px;
    text-align: center;
}
.display-content table tr {
    border-bottom: 1px solid #DFE2E4;
}
tr:nth-child(even) {
    background-color: #F5F5F5;
}
.next-previous-page {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}