* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('/resources/images/background-login.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(2px);
    z-index: -1; 
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    width: 90%; /* Đặt chiều rộng cho phần tử cha */
    max-width: 800px; /* Đặt chiều rộng tối đa */
}

.login-left,
.login-right {
    flex: 1;
}

.login-left img {
    width: 100%;
    height: 100%; /* Giữ tỷ lệ cho ảnh */
}

.login-right img {
    width: 100px;
    margin: 10px;
}

.login-right {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
}

form input {
    border: none;
    border-bottom: 1px solid black ;
    height: 40px;
    width: 80%; /* Sử dụng chiều rộng theo phần trăm để làm cho nó linh hoạt */
    max-width: 230px; /* Đặt chiều rộng tối đa */
    margin-top: 10px;
}

form button {
    border: none;
    margin-top: 35px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #77dbd3;
    cursor: pointer;
}

/* Media Queries để điều chỉnh bố cục cho các kích thước màn hình khác nhau */
@media (max-width: 768px) {
    .login {
        flex-direction: column; /* Chuyển thành cột trên màn hình nhỏ */
        width: 100%; /* Tăng chiều rộng cho các màn hình nhỏ */
    }

    .login-left,
    .login-right {
        flex: 1; 
        width: 100%; /* Chiếm toàn bộ chiều rộng */
    }

    .login-right img {
        width: 80px; /* Giảm kích thước hình ảnh cho màn hình nhỏ */
    }
}

@media (max-width: 480px) {
    form input {
        width: 90%; /* Tăng chiều rộng cho màn hình nhỏ hơn */
    }

    form button {
        width: 80%; /* Giảm chiều rộng của nút */
    }
}