* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    text-align: center;
    background-color: #a8daeb;
    height: 100vh;
}

.sidebar img {
    width: 150px;
    margin: 30px 35px 20px 35px;
}

.sidebar ul li {
    list-style: none;
    color: black;
    border: 1px;
    border-radius: 5px;
    margin: 15px 20px;
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li img {
    width: 20px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    display: block;
}

.sidebar ul li p {
    font-size: 16px;
}

.sidebar ul li:hover {
    background-color: #58a6b2;
}

.sidebar ul li a {
    display: flex;
    text-decoration: none;
    color: black;
}

.sidebar form button {
    border: none;
    border-radius: 5px;
    padding: 8px 17px;
    background-color: #75b6c2;
    cursor: pointer;
    margin-top: 100px;
    font-size: 15px;
}

.content {
    flex: 1;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #3b808b;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
}
label {
    margin-left: 150px;
    font-weight: bold;
}
#tab-select  {
    width: 120px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
}

/* tab-content */
.tab-content {
    display: none;
    width: 1200px;
    /* max-height: 100px; */
    margin: 0 auto;
    /* background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);  */
}

.tab-content table {
    border-collapse: collapse;
    width: 1200px;
    text-align: center;
}
.tab-content table tr td {
    border: 1px solid black;
    padding: 13px 0px;
}
.tab-content table thead tr td {
    font-weight: bold;
}
.function-content {
    display: flex;
}
.function-content form input {
     height: 25px;
     border-radius: 5px;
     margin: 0px 0px 10px 20px;
}
.function-content select {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
}
.next-previous-page {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}